In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
def character_count(s):
    char_dict = {}
    for char in s:
        if char in char_dict:
            char_dict[char] += 1
        else:
            char_dict[char] = 1
    return char_dict

input_string = input("Enter a string: ")
result = character_count(input_string)
print("Character counts:", result)

Enter a string:  hello

Character counts: {'h': 1, 'e': 1, 'l': 2, 'o': 1}

#2)
def is_palindrome(s):
    s = s.replace(" ").lower()
    return s == s[::-1]
string = input("Enter a string: ")
if is_palindrome(s):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

In [10]:
#3)
def second_largest(lst):
    first_number = list(set(lst))  
    if len(unique_numbers) < 2:
        return None  
    unique_numbers.sort(reverse=True)
    return unique_numbers[1]

In [12]:
print('second largest no.', 1)

second largest no. 1

In [24]:
# 4) get a datafrome using dictionary
#city age column
s = {city: 'Pune', age:'25'}
df = pd.data_frame[s]
df

NameError: name 'city' is not defined

In [26]:
#10)
#what is rank function give using a example

In [28]:
# 7)
#creating fun using lambda with 2 year to existing age

In [38]:
add_two_years = lambda age: age + 2
current_age = 25
new_age = add_two_years(current_age)
print(f"New age: {new_age}")

New age: 27