In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from scipy.stats import norm
from scipy import stats
import seaborn as sns

In [28]:
#1)
st = ["hello", "everyone", "all", "the", "best"]
word_lengths = {word: len(word) for word in st}
print(word_lengths)

{'hello': 5, 'everyone': 8, 'all': 3, 'the': 3, 'best': 4}

#2)
Covariance is a direction of between relational between of two variables. & 
corrlation is direction of between relational between of two values.

#3)
 Central limit theorem is a When you take a large number of random samples from any population with a finite mean and variance, 
the distribution of the sample means will approximate a normal distribution (bell curve), regardless of the shape of the original population.

#4)
 Set is any value and number are repetadely of the task, the main part of set is immutable 
 Dictonary is a collection of part of values and key parir, dictonary is a mutable.

#5)
Linespace are the arranging in sequential order when no. is values are new line generated 
Arrays in set of sequential order of the element in a data is called arrays.

#6)
type one error is a when data is data when fail to reject the null then null should not been rejected is called type one error.

In [ ]:
#7)
def sum(

#8)
 When data is  normally distributed it lies between it is data like symetrical around the mean 
z-test are the data normally distributed it is data like normally distributed of the mean.

#9)
- Linearity
- Multicolinearity amoung the x variable
- Dependendent and Independent variable in x and y variable 
- Normality
- Residuals errors
- Homoscidascity
-

In [ ]:
#10)
Entropy is a  measures the level of disorder or uncertainty in a given dataset or system. 
Formula for Entropy IG = P(x.y) * log(y/x)

In [30]:
df = pd.read_csv(r"C:\Users\deepa\Downloads\loan_data_set.csv")
df.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [32]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [33]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [36]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [43]:
df['Gender'].fillna('Gender', inplace=True)
df['Married'].fillna(df['Married'] , inplace=True)
df['Dependents'].fillna('Dependents', inplace=True)
df['Self_Employed'].fillna('Self_Employed', inplace=True)
df['LoanAmount'].fillna('LoanAmount', inplace = True)
df['Loan_Amount_Term'].fillna('Loan_Amount_Term', inplace=True)
df['Credit_History'].fillna('Credit_History', inplace=True)

C:\Users\deepa\AppData\Local\Temp\ipykernel_4860\1023421404.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna('Gender', inplace=True)
C:\Users\deepa\AppData\Local\Temp\ipykernel_4860\1023421404.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Dependents'].fillna('Dependents', inplace=True)
C:\Users\deepa\AppData\Local\Temp\ipykernel_4860\1023421404.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Self_Employed'].fillna('Self_Employed', inplace=True)
C:\Users\deepa\AppData\Local\Temp\ipykernel_4860\1023421404.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LoanAmount'].fillna('LoanAmount', inplace = True)
C:\Users\deepa\AppData\Local\Temp\ipykernel_4860\1023421404.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'LoanAmount' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['LoanAmount'].fillna('LoanAmount', inplace = True)
C:\Users\deepa\AppData\Local\Temp\ipykernel_4860\1023421404.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Loan_Amount_Term'].fillna('Loan_Amount_Term', inplace=True)
C:\Users\deepa\AppData\Local\Temp\ipykernel_4860\1023421404.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Loan_Amount_Term' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Loan_Amount_Term'].fillna('Loan_Amount_Term', inplace=True)
C:\Users\deepa\AppData\Local\Temp\ipykernel_4860\1023421404.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Credit_History'].fillna('Credit_History', inplace=True)
C:\Users\deepa\AppData\Local\Temp\ipykernel_4860\1023421404.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Credit_History' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Credit_History'].fillna('Credit_History', inplace=True)

In [44]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              3
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [56]:
df.Loan_Status.value_counts()

Loan_Status
Y    422
N    192
Name: count, dtype: int64

In [63]:
df.shape

(614, 11)

In [60]:
df.columns

Index(['Gender', 'Married', 'Education', 'Self_Employed', 'ApplicantIncome',
       'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
       'Property_Area', 'Loan_Status'],
      dtype='object')

In [57]:
x = df.iloc[:,0:-1]
y = df.iloc[:,-1]

In [58]:
from sklearn.ensemble import RandomForestRegressor

In [65]:
#df.drop(columns=['Loan_ID','Dependents'], inplace = True,axis=1)

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
x_train,x_test, y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [61]:
c1 = RandomForestRegressor()

NameError: name 'Pipeline' is not defined